@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --green: green;
    --black: #130f40;
    --light-color: #5c5959;
    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 1);
    --border: 2rem solid rgba(0, 0, 0.1);
    --outline: 0.1rem solid rgba(0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background-color: #eee;
}

.header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
}

.header .logo i {
    color: var(--green);
    margin: 0 0.4rem 0 0;
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--green);
    text-decoration: underline;
}

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background-color: #eee;
    color: var(--black);
    font-size: 2rem;
    margin: .3rem;
    text-align: center;
    cursor: pointer;
}

.header .icons div:hover {
    background-color: var(--green);
    color: #fff;
}

#menu-btn {
    display: none;
}

.header .navbar.active {
    right: 2rem;
    transform: 0.4s linear;
}

.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110rem;
    padding: 0.8rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    width: 30rem;
    background: #fff;
}

.header .shopping-cart.active {
    right: 2rem;
    transition: 0.4s linear;
}


.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img {
    height: 10rem;
    width: 10rem;
}

.header .shopping-cart .box .content h2 {
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}


.header .shopping-cart .box .content .quantity {
    padding-left: 1rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    border: 0.2px solid var(--black);
    border-radius: 0.5rem;
    color: var(--black);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--green);
    color: #fff;
}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem 0;
}

/* Home */
section {
    padding: 2rem 9%;
}

.home {
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #ff9a8b, #ff6f61, #f3eac2, #f6d8ae);
    background-size: 400% 400%;
    animation: gradientShift 8s ease infinite;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content {
    text-align: center;
    width: 60rem;
}
.home .content h2{
    color: var(--black);
    font-size: 3.2rem;
}
.home .content h3 {
    color: var(--black);
    font-size: 2rem;
}

.home .content h3 span {
    color: var(--green);
}

.home .content p {
    color: var(--light-color);
    font-size: 1.7rem;
    padding: 1rem 0;
    line-height: 1.8rem;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}


/* feature */

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

.heading span {
    background-color: var(--green);
    color: #fff;
    display: inline-block;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0 100%, 7% 50%, 0 0);
}

.features .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.features .box-container .box img {
    height: 14rem;
    width: 75%;
    margin: 1rem 0;
}

.features .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8;
    color: var(--black);
}

.features .box-container .box p {
    font-size: 1.3rem;
    line-height: 1.5;
    color: var(--light-color);
    padding: 0.5rem 0;
}

.features .box-container .box:hover {
    box-shadow: 1px 1px 1px 1px var(--green);
}




/* products */

.products .product-slider {
    padding: 1rem;
}

.products .product-slider :first-child {
    margin-bottom: 2rem;
}

.products .product-slider .box {
    background: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.5s linear;
    margin-bottom: 4rem;
}

.products .product-slider .box img {
    height: 18rem;
}

.products .product-slider .box h1 {
    font-size: 2.5rem;
    color: var(--black);
}

.products .product-slider .box:hover {
    box-shadow: 1px 1px 1px 1px var(--green);
}

.products .product-slider .box .stars i {
    font-size: 1.7rem;
    color: orange;
    padding: 0.5rem 0;
}

/* products */


/* categories */
.categories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box {
    padding: 3rem 0;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box img {
    margin: 1rem 0;
    height: 20rem;
}

.categories .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    line-height: 1.5;
}

.categories .box-container .box p {
    font-size: 1.7rem;
    color: var(--black);
    line-height: 1.5;
    padding: 1rem 0;
}

.categories .box-container .box:hover {
    box-shadow: 1px 1px 1px 1px var(--green);
}

/* categories */


/* Reviews */
.review .review-slider {
    padding: 1rem;
}

.review .review-slider .box {
    background: #fff;
    border-radius: 0.5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transition: 0.5s linear;
    margin-bottom: 4rem;
}

.review .review-slider .box img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .review-slider .box p {
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.5;
    color: var(--black);
    font-weight: 500;
}

.review .review-slider .box h3 {
    font-size: 2.5rem;
    padding-bottom: 0.5rem;
    color: var(--black);
}

.review .review-slider .box .stars {
    font-size: 1.7rem;
    color: orange;
}

.review .review-slider .box:hover {
    box-shadow: 1px 1px 1px 1px var(--green);
}
/* Reviews */



/* contact */
@keyframes gradientAnimation2 {
    0% {
        background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    }
    50% {
        background: linear-gradient(135deg, #fad0c4, #ff9a9e);
    }
    100% {
        background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    }
}
.contact {
    padding: 20px;
    background-color: #f9f9f9;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    animation: gradientAnimation2 3s ease infinite;
}

.contact .content {
    text-align: center;
    margin-bottom: 20px;
}

.contact .content h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.contact .content p {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--black);
}

.contact .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .container .contactInfo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.contact .container .contactInfo .box {
    flex: 1;
    min-width: 200px;
    background:  #FFFDD0;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
}

.contact .container .contactInfo .box .icon {
    font-size: 2rem;
    margin-bottom: 10px;
}

.contact .container .contactInfo .box .text h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.contact .container .contactInfo .box .text p {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--black);
}
/* contact */


/* footer  */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-content p {
    margin: 0.5rem 0;
    font-size: 1.3rem;
}

.footer-content a {
    color: #00bcd4;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}
/* footer  */



/* responsive */
@media (max-width:1027px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 2rem;

    }
}

@media (max-width:775px) {
    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        box-sizing: 0.5rem;
        background: #fff;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

    .header .search-form {
        width: 90%;
    }
  /* contact  */
    .contact .content h2 {
        font-size: 1.5rem;
    }

    .contact .content p {
        font-size: 0.875rem;
    }

    .contact .container .contactInfo {
        flex-direction: column;
        align-items: center;
    }

    .contact .container .contactInfo .box {
        width: 100%;
        max-width: 400px;
    }
 /* footer  */
    footer {
        padding: 0.5rem;
    }

    .footer-content p {
        font-size: 1.75rem;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.75rem;
    }
  /* contact  */
    .contact .content h2 {
        font-size: 2rem;
    }

    .contact .content p {
        font-size: 2rem;
    }

    .contact .container .contactInfo .box .icon {
        font-size: 2rem;
    }

    .contact .container .contactInfo .box .text h3 {
        font-size: 2rem;
    }

    .contact .container .contactInfo .box .text p {
        font-size: 2rem;
    }
}